  <form action="/" method="post">
    <input type ="text" name="name"> 
    <input type ="text" name="content"> 
    <input type="submit" value="Submit">  
  </form>  

Habits 
So How do we form good habits? 
   Habits are formed by a focus on two things MicroQuotas and Macrogoals. Simply put creating small daily goals while still focusing on the macro. 

The First step is find a small goal. Even as small as flossing. Stanford Psychologist BJ Foggs made this daily routine even smaller. 

    "For me, cracking the code on flossing was to put the floss right by the toothbrush, and to commit to myself that I would floss one tooth — only one tooth — every time after I brushed." 



