<html>
<head>

</head>
<body>
  <div id = "left_panel_1">
    <h1> So How do we form good habits? </h1>
    <img src="http://i.imgur.com/crmJkiN.png">
  </div>
  <div id ="form">
    <h3> What habit do you want to start today?</h3>
    <form action="/habit" method="post">
      <input type ="text" name="name" placeholder="Habit">
      <input type ="text" name="content" placeholder="add description...">
      <input type = "file" name="img" accept="image/gif, image/jpeg, image/png">
      <input type="submit" value="Add Habit">
    </form>


</div>
  </div>
</body>


</html>