<!DOCTYPE html>
<html>
<head>
  <link href="../css/normalize.css" rel = "stylesheet">
  <link href="../css/theme.css" rel = "stylesheet">
</head>

<body>
  <header>
  <div id = "wrap">
    <div id = "banner">
      <img src="http://i.imgur.com/Dr2GIUe.png"  />
    </div>
    <div id = "nav bar">
      <ul>
        <a href="/all">list</a>
      </ul>
    </div>
  </div>
  </header>

  <%= yield %>
</body>
</html>